<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908642016841-todahj5k609akp0e4arrkm9cjjlnl25l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908642016841-todahj5k609akp0e4arrkm9cjjlnl25l</string>
	<key>API_KEY</key>
	<string>AIzaSyCGlBZEQQZLqP2syafYFZEsWdMG3cIX5gU</string>
	<key>GCM_SENDER_ID</key>
	<string>908642016841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.movie.FuelStationTracker</string>
	<key>PROJECT_ID</key>
	<string>fuelstationtracker-d6c47</string>
	<key>STORAGE_BUCKET</key>
	<string>fuelstationtracker-d6c47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908642016841:ios:be6fec28a23b39c5906998</string>
	<key>DATABASE_URL</key>
	<string>https://fuelstationtracker-d6c47.firebaseio.com</string>
</dict>
</plist>